# swap files
**/*.swp

# cached files
**/__pycache__/

# blender previous save files
**/*.blend1

#recorded videos
*.mp4
#training images
*.png
*.jpg
*.bag
*unity.lock
yolo*.pt
yolo*.onnx

#builds
**/bin/
**/install/
**/build/
**/log/

#xsens ros2 driver lib 
ros2_ws/src/xsens_mti_ros2_driver/lib/**
