[submodule "ros2_ws/src/Xsens_MTi_Driver"]
	path = ros2_ws/src/Xsens_MTi_Driver
	url = https://github.com/mcgill-robotics/Xsens_MTi_ROS_Driver_and_Ntrip_Client.git

[submodule "ros2_ws/src/ros-tcp-endpoint"]
	path = ros2_ws/src/ros-tcp-endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint.git
	branch = main-ros2
[submodule "ros2_ws/src/dvl_a50"]
	path = ros2_ws/src/dvl_a50
	url = https://github.com/mcgill-robotics/dvl_a50
[submodule "ros2_ws/src/dvl_msgs"]
	path = ros2_ws/src/dvl_msgs
	url = https://github.com/mcgill-robotics/dvl_msgs
[submodule "ros2_ws/src/dvl_a50_serial_python"]
	path = ros2_ws/src/dvl_a50_serial_python
	url = https://github.com/mcgill-robotics/dvl_a50_serial_python
