SUBSYSTEM=="tty", KERNEL=="ttyUSB[0-9]*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6015", ATTRS{serial}=="D30I1VJ6", SYMLINK+="dvl", ENV{ID_MM_DEVICE_IGNORE}="1"
