services: 
  ros1_noetic:
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /dev:/dev
      - /var/run/docker.sock:/var/run/docker.sock
      - type: bind
        source: ../../../AUV-2025
        target: /AUV-2025
    privileged: true
    container_name: ros1-noetic
    environment:
      - DISPLAY
      - QT_X11_NO_MITSHM=1
      - NVIDIA_VISIBLE_DEVICES=all
      - UDEV=on
      - ROS_MASTER_URI=http://localhost:11311
    build:
      dockerfile: Dockerfile.ros1
    tty: true
    network_mode: host
    command: bash -c ${OVERRIDE_COMMAND:-"tail -f /dev/null"}
    
  ros2_humble:
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /dev:/dev
      - /var/run/docker.sock:/var/run/docker.sock
      - type: bind
        source: ../../../AUV-2026
        target: /AUV-2026
    privileged: true
    container_name: ros2-humble
    environment:
      - DISPLAY
      - QT_X11_NO_MITSHM=1
      - NVIDIA_VISIBLE_DEVICES=all
      - UDEV=on
      - ROS_MASTER_URI=http://localhost:11311
    build:
      dockerfile: Dockerfile.ros2
    tty: true
    network_mode: host
    command: bash -c ${OVERRIDE_COMMAND:-"tail -f /dev/null"}
